<a href="https://colab.research.google.com/github/freddy-7/TI2001B-2023/blob/main/1_Extracci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#INSTALAR LIBRERIAS
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install openpyxl

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.13/site-packages (2.1.3)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.13/site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/anaconda3/lib/python3.13/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in /opt/anaconda3/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/anaconda3/lib/python3.13/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.13/site-packages (from openpyxl) (1.1.0)

In [13]:
#Importamos librer√≠as requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

CARGA DE ARCHIVO XLSX

In [14]:
#Carga desde un archivo .xlsx sin indice
df= pd.read_csv('Datos_FacturacioÃÅn.csv')
df

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [15]:
#Verificamos informaci√≥n del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     10895 non-null  int64
 1   CVE_DOC        10890 non-null  object
 2   CVE_CLPV       10895 non-null  float64
 3   STATUS         10886 non-null  object
 4   CVE_VEND       10847 non-null  float64
 5   FECHAELAB      10893 non-null  object
 6   FECHA_DOC      10894 non-null  object
 7   FECHA_ENT      10893 non-null  object
 8   FECHA_VEN      10895 non-null  object
 9   FECHA_CANCELA  358 non-null    object
 10  CAN_TOT        10889 non-null  float64
 11  DES_TOT        10894 non-null  float64
 12  DES_FIN        10892 non-null  float64
dtypes: float64(5), int64(1), object(7)
memory usage: 1.1+ MB

**FILTROS BASICOS PARA VARIABLES CUALITATIVAS**

In [16]:
# 1-CVE_CLPV      (valores: 1000 a 2000)
#Filtro Y
filtro1 = df[(df["CVE_CLPV"] >= 1000) & (df["CVE_CLPV"] <= 2000)]
filtro1
# Las variables filtradas fueron: La √∫nica variable (columna) utilizada para filtrar fue: CVE_CLPV. Y los valores filtrados son los que cumplen la condici√≥n: mayores o iguales a 1000, y menores o iguales a 2000.

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,18,F29432,1965.0,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0.0
22,22,F29436,1965.0,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0.0
65,65,F29479,1240.0,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaN,4135.00,0.00,0.0
71,71,F29485,1965.0,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0.0
72,72,F29486,1965.0,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaN,976.50,146.48,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10821,10821,F40237,1757.0,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaN,10088.40,0.00,0.0
10839,10839,F40255,1583.0,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaN,3467.35,0.00,0.0
10845,10845,F40261,1786.0,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaN,4663.80,0.00,0.0
10871,10871,F40287,1453.0,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaN,9000.00,0.00,0.0
10876,10876,F40292,1082.0,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaN,3262.00,0.00,0.0

In [17]:
df6 = filtro1.groupby(['CVE_CLPV'])['CVE_CLPV'].count()
df6

CVE_CLPV
1016.0    27
1019.0     5
1020.0    13
1053.0    17
1082.0     1
          ..
1943.0    10
1955.0     2
1965.0    90
1967.0     2
1982.0     3
Name: CVE_CLPV, Length: 65, dtype: int64

In [18]:
#Convertir archivo filtrado a CSV
filtro1.to_csv("Entregable1.csv")

In [19]:
# 2-CVE_VEND     (Todas las claves excepto ‚Äú5‚Äù y ‚Äú4‚Äù)
filtro2 = df[~(df["CVE_VEND"] == 4) & ~ (df["CVE_VEND"] == 5)]
filtro2
# Las variables filtradas fueron: La variable (columna) filtrada fue: CVE_VEND. La condici√≥n aplicada fue: Excluir los registros donde CVE_VEND sea 4 o 5.

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [20]:
df6 = filtro1.groupby(['CVE_CLPV'])['CVE_CLPV'].count()
df6

CVE_CLPV
1016.0    27
1019.0     5
1020.0    13
1053.0    17
1082.0     1
          ..
1943.0    10
1955.0     2
1965.0    90
1967.0     2
1982.0     3
Name: CVE_CLPV, Length: 65, dtype: int64

In [21]:
#Convertir archivo filtrado a CSV
filtro2.to_csv("Entregable2.csv")

In [22]:
# 3-FECHA_ENT   (Fechas de ‚Äú28/02/2022‚Äù)
filtro3 = df[df["FECHA_ENT"] == "2022-02-28 00:00:00"]
filtro3
# Las variables filtradas fueron: La variable (columna) filtrada fue: FECHA_ENT. La condici√≥n aplicada fue: Seleccionar √∫nicamente los registros donde FECHA_ENT sea ‚Äú2022-02-28 00:00:00‚Äù (equivalente al 28/02/2022).

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
8077,8077,F37493,4598.0,E,1.0,2022-02-28 10:56:02.460,2022-02-28,2022-02-28 00:00:00,2022-03-30,NaN,44259.0000,0.0,0.0
8078,8078,F37494,1943.0,C,2.0,2022-02-28 11:34:00.367,2022-02-28,2022-02-28 00:00:00,2022-02-28,2022-02-28,89.6800,0.0,0.0
8081,8081,F37497,1943.0,C,2.0,2022-02-28 12:05:42.377,2022-02-28,2022-02-28 00:00:00,2022-02-28,2022-02-28,89.6800,0.0,0.0
8083,8083,F37499,8573.0,E,2.0,2022-02-28 12:25:29.833,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,997.5400,0.0,0.0
8084,8084,F37500,8249.0,E,2.0,2022-02-28 12:32:46.687,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,2508.7000,0.0,0.0
8090,8090,F37506,1757.0,E,2.0,2022-02-28 13:23:45.440,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,2586.2100,0.0,0.0
8091,8091,F37507,3108.0,E,2.0,2022-02-28 13:52:43.383,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,675.4000,0.0,0.0
8092,8092,F37508,6232.0,E,2.0,2022-02-28 14:46:56.940,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,941.3965,0.0,0.0
8095,8095,F37511,8593.0,E,2.0,2022-02-28 15:20:58.040,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,218.9700,0.0,0.0
8096,8096,F37512,4766.0,E,2.0,2022-02-28 15:54:16.277,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,9450.0000,0.0,0.0
8100,8100,F37516,6179.0,E,3.0,2022-02-28 16:33:54.413,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,5951.7000,0.0,0.0
8103,8103,F37519,5150.0,E,3.0,2022-02-28 17:09:39.213,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,2040.0000,0.0,0.0
8104,8104,F37520,4527.0,E,2.0,2022-02-28 17:14:57.487,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,4315.0000,0.0,0.0
8107,8107,F37523,5926.0,E,2.0,2022-02-28 17:36:54.363,2022-02-28,2022-02-28 00:00:00,2022-02-28,NaN,451.6100,0.0,0.0
8133,8133,F37549,3016.0,E,1.0,2022-03-04 15:08:49.747,2022-03-04,2022-02-28 00:00:00,2022-03-04,NaN,1083.7200,0.0,0.0
8148,8148,F37564,4695.0,E,1.0,2022-03-08 09:15:20.507,2022-03-08,2022-02-28 00:00:00,2022-05-07,NaN,5515.0000,0.0,0.0
8204,8204,F37620,8316.0,E,3.0,2022-03-14 17:00:43.247,2022-03-14,2022-02-28 00:00:00,2022-03-14,NaN,24570.3000,0.0,0.0

In [23]:
df6 = filtro2.groupby(['FECHA_ENT'])['FECHA_ENT'].count()
df6

FECHA_ENT
00:00:00               8
2019-09-02 00:00:00    3
2019-09-03 00:00:00    6
2019-09-04 00:00:00    9
2019-09-05 00:00:00    5
                      ..
2023-03-07 00:00:00    2
2023-03-08 00:00:00    2
2023-03-13 00:00:00    1
2024-02-07 00:00:00    1
2026-01-25 00:00:00    1
Name: FECHA_ENT, Length: 888, dtype: int64

In [24]:
#Convertir archivo filtrado a CSV
filtro3.to_csv("Entregable3.csv")

In [25]:
# 4-CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (‚ÄúE‚Äù)
filtro4 = df[(df["CAN_TOT"] < 5951.7) | (df["STATUS"] == "E")]
filtro4
# Las variables filtradas fueron: Las variables (columnas) filtradas fueron: CAN_TOT (se seleccionan los registros con valores menores a 5951.7) STATUS (se seleccionan los registros cuyo valor es "E").

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,0,F29414,2465.0,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,1,F29415,3926.0,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,2,F29416,3926.0,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,3,F29417,3926.0,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,4,F29418,6813.0,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,10890,F40306,8842.0,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaN,3272.00,0.0,0.0
10891,10891,F40307,6218.0,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,504.15,0.0,0.0
10892,10892,NaN,5926.0,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaN,275.68,0.0,0.0
10893,10893,F40309,361.0,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaN,129.30,0.0,0.0
10894,10894,F40310,3011.0,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaN,517.20,0.0,0.0

In [26]:
df6 = filtro4.groupby(['CAN_TOT'])['CAN_TOT'].count()
df6

CAN_TOT
1.0000         2
6.0000         1
8.0000         1
8.5942         1
10.0000        1
              ..
155913.0000    3
160000.0000    1
160869.1500    1
274500.0000    1
412116.9200    2
Name: CAN_TOT, Length: 7182, dtype: int64

In [27]:
#Convertir archivo filtrado a CSV
filtro4.to_csv("Entregable4.csv")

In [28]:
# 5-Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
filtro5 = df[["CVE_DOC", "FECHA_ENT", "FECHA_VEN", "CAN_TOT"]]
filtro5
# Las variables filtradas fueron:Las variables (columnas) filtradas fueron: CVE_DOC, FECHA_ENT, FECHA_VEN, CAN_TOT.

      CVE_DOC            FECHA_ENT   FECHA_VEN  CAN_TOT
0      F29414  2019-09-03 00:00:00  2019-09-18  3980.00
1      F29415  2019-09-03 00:00:00  2019-10-03  1550.00
2      F29416  2019-09-03 00:00:00  2019-10-03  1550.00
3      F29417  2019-09-03 00:00:00  2019-10-03  1550.00
4      F29418  2019-09-03 00:00:00  2019-09-03  2435.44
...       ...                  ...         ...      ...
10890  F40306  2023-03-01 00:00:00  2023-03-06  3272.00
10891  F40307  2023-03-06 00:00:00  2023-03-06   504.15
10892     NaN  2023-03-06 00:00:00  2023-03-06   275.68
10893  F40309  2023-03-07 00:00:00  2023-03-07   129.30
10894  F40310  2023-03-01 00:00:00  2023-03-07   517.20

[10895 rows x 4 columns]

In [29]:
#Convertir archivo filtrado a CSV
filtro5.to_csv("Entregable5.csv")

In [30]:
#6-Solo las filas de 7001-7099
filtro6 = df.iloc[7001:7100, :]
filtro6
# Las variables filtradas fueron: Entonces, las variables filtradas fueron: todas las columnas, y las filas filtradas fueron 7001 a 7099.

,Unnamed: 0,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,7001,F36417,5271.0,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06 00:00:00,2021-11-14,NaN,8555.24,0.0,0.0
7002,7002,F36418,5746.0,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14 00:00:00,2021-10-15,NaN,620.77,0.0,0.0
7003,7003,F36419,2163.0,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15 00:00:00,2021-10-15,NaN,560.00,0.0,0.0
7004,7004,F36420,1429.0,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15 00:00:00,2021-12-14,NaN,23625.00,0.0,0.0
7005,7005,F36421,5039.0,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08 00:00:00,2022-01-13,NaN,3308.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7095,7095,F36511,4480.0,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27 00:00:00,2021-11-11,NaN,1137.50,0.0,0.0
7096,7096,F36512,8186.0,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,94.84,0.0,0.0
7097,7097,F36513,4403.0,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,847.00,0.0,0.0
7098,7098,F36514,5589.0,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaN,965.00,0.0,0.0
7099,7099,F36515,5589.0,E,2.0,2021-10-27 14:04:26.797,2021-10-27,2021-10-26 00:00:00,2021-10-27,NaN,2106.00,0.0,0.0

In [31]:
#Convertir archivo filtrado a CSV
filtro6.to_csv("Entregable6.csv")

In [32]:
# 7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)
df_indexado = df.set_index("CVE_VEND")
filtro7 = df_indexado.loc[[1, 2], ["FECHAELAB"]]
filtro7
# Las variables filtradas fueron: Las variables (columnas) filtradas fueron: FECHAELAB (columna seleccionada). El √≠ndice usado para filtrar filas fue: CVE_VEND, seleccionando los valores 1 y 2.

                        FECHAELAB
CVE_VEND
1.0       2019-09-03 08:58:42.000
1.0       2019-09-03 09:55:14.000
1.0       2019-09-03 13:25:33.000
1.0       2019-09-03 13:33:23.000
1.0       2019-09-04 09:15:12.000
...                           ...
2.0       2023-03-06 16:09:39.013
2.0       2023-03-06 16:38:42.933
2.0       2023-03-06 17:02:33.390
2.0       2023-03-07 12:43:49.567
2.0       2023-03-07 12:45:58.407

[8665 rows x 1 columns]

In [33]:
#Convertir archivo filtrado a CSV
filtro7.to_csv("Entregable7.csv")